[Unit]
Description=DIYM chess service
After=network.target

[Service]
ExecStart=/home/king/.pyenv/versions/chessenv2/bin/python -u StartChessGame.py
WorkingDirectory=/home/king/downloads
StandardOutput=inherit
StandardError=inherit
Restart=always
User=king

[Install]
WantedBy=multi-user.target
